.modularity-mod-alarms {
  padding: 0px;

  .accordion-content {
    padding-bottom: 20px;
  }

  .box-title {
    margin-bottom:16px;
  }
  
  .alarms-container {
    opacity: 0;
    list-style: none;

    .accordion-content {
      overflow-x: auto;
    }

    table {
      background: #ededed;
      margin-left: 13px;
    }
    time {
      margin-right: 14px;
    }
  }

  .show-container {
    opacity: 1;
  }

  .filters {
    padding-bottom: 20px;
  }

}




